/.venv/
/build/
/dist/
/.cache/
/.local/
/outputs/
*.egg-info/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.DS_Store
*.bag
*.las
*.laz
*.pcd
*.npy
*.bin
*.pt
*.pth
**/node_modules/
**/target/
**/dist/
**/gen/schemas/
